[submodule "docs"]
	path = docs
	url = https://github.com/ArealFinance/docs.git
[submodule "contracts"]
	path = contracts
	url = https://github.com/ArealFinance/contracts.git
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/ArealFinance/dashboard.git
[submodule "bots"]
	path = bots
	url = https://github.com/ArealFinance/bots.git
[submodule "app"]
	path = app
	url = https://github.com/ArealFinance/app.git
